<div class="brand"><span class="dot"></span> Aplikasi Apotik</div>
<div class="section">
  <div class="label">Dashboard</div>
  <nav class="menu">
  <a data-route="dashboard" href="./dashboard.html"><i class="fa-solid fa-gauge"></i><span>Ringkasan</span></a>
  <a data-route="laporan" href="./laporan.html"><i class="fa-solid fa-chart-line"></i><span>Laporan</span></a>
  </nav>
</div>
<div class="section">
  <div class="label">Inventory</div>
  <nav class="menu">
  <a data-route="obat" href="./"><i class="fa-solid fa-pills"></i><span>Obat</span></a>
  <a data-route="pembelian" href="./pembelian.html"><i class="fa-solid fa-cart-shopping"></i><span>Pembelian</span></a>
  <a data-route="supplier" href="./supplier.html"><i class="fa-solid fa-truck"></i><span>Supplier</span></a>
  <a data-route="stok-kartu" href="./stok-kartu.html"><i class="fa-solid fa-clipboard-list"></i><span>Kartu Stok</span></a>
  <a data-route="expired" href="./expired.html"><i class="fa-solid fa-xmark"></i><span>Expired</span></a>
  </nav>
</div>
<!-- <div class="section">
  <div class="label">Master</div>
  <nav class="menu">
  <a data-route="pelanggan" href="./pelanggan.html"><i class="fa-solid fa-user-group"></i><span>Pelanggan</span></a>
  <a data-route="dokter" href="./dokter.html"><i class="fa-solid fa-user-doctor"></i><span>Dokter</span></a>
  <a data-route="supplier" href="./supplier.html"><i class="fa-solid fa-truck"></i><span>Supplier</span></a>
  <a data-route="karyawan" href="./karyawan.html"><i class="fa-solid fa-people-group"></i><span>Karyawan</span></a>  
 <a data-route="formula" href="./formula.html"><i class="fa-solid fa-flask"></i><span>Formula</span></a> 
  <a data-route="interaksi" href="./interaksi.html"><i class="fa-solid fa-notes-medical"></i><span>Interaksi</span></a> 
  </nav>
</div> -->
<div class="section">
  <div class="label">Transaksi</div>
  <nav class="menu">
  <a data-route="penjualan" href="./penjualan.html"><i class="fa-solid fa-cash-register"></i><span>Penjualan</span></a>
  <a data-route="hutang-supplier" href="./hutang-supplier.html"><i class="fa-solid fa-file-invoice-dollar"></i><span>Hutang Supplier</span></a>
  </nav>
</div>
